
html
{background-color:rgb(196, 255, 196);
    background-image:url(.jpg)}
header{
    color:rgb(192, 70, 182);
   font-size:xx-large;
   font-style:italic;
}
.at{background-image: url(pexels.jpg);
    background-color:green;
    height: 500px;
   width: 900px;
    margin: 2px;
    padding: 2%;
    background-repeat: repeat;
}
.doll
{
color: aqua;
text-size-adjust: 50px;
text-decoration: aqua;
}
.dressbar
{
background-color: rgb(146, 197, 63);
 text-align: justify; 
 text-indent: 120px; 
}
#one
{ display:flex;
flex-direction:row;
margin:10px; 
padding: 5px;
text-indent: 30px;
text-rendering:initial;}
body{
color: black;
}
#two
 {
    background-image: url(deep.jpg);
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
#one a 
{background-color:rgb(235, 136, 154);
    grid-template-columns:auto auto auto auto;
    text-align:center;
}
@media(max-width:784px;
){
    .grid{grid-template-columns: repeat(2,1fr);}
}
section{
    background-image: url(ore.jpg);
    background-color: rgb(243, 221, 23);
}

/*                               */
html
{background-color:rgb(255, 255, 255);
}
header{
    color:rgb(192, 70, 182);
   font-size:xxx-large;
   font-style:italic;
}
.at{background-image: url(pexels.jpg);
   
    height: 500px;
   width: 900px;
    margin: 2px;
    padding:2px;
    background-repeat: repeat;
} 
h1
{color: rgb(70, 241, 190);
    font-style:oblique;
    
}
.dressbar
{
background-color: antiquewhite;
 text-align: justify; 
 text-indent: 100px; 
}
#one
{ 
display:flex;
flex-direction:row;
justify-content:end;
margin: 50px;px; 
padding: 66px;
text-indent: 30px;
}
body{
color: black;
}
#two
 { text-align:right;
    display:flex;
    flex-direction: row;
    justify-content:baseline;
    justify-content:space-between;
}

#one a 
{background-color:rgb(235, 172, 183);
    grid-template-columns:auto auto auto auto;
    text-align:left;
    background-position-x: left;
}
section{
    background-image: url(blue.jpg);
    
}

footer{ 
    background-color:black;
    background-blend-mode: luminosity;
}
@keyframes
{
    fro

}
